body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: no-repeat fixed
    url("./Images/wp2423437-african-safari-elephants-wallpapers.jpg");
}
.connex {
  position: absolute;
  width: 40vw;
  top: 20%;
  margin: auto;
  transform: translateY(-(50%));
  left: 25vw;
  border: 4px solid gray;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.box {
  border: 2 solid gray;
}

.box--block{
  display: flex;
  justify-content:space-between ;
}
.font-icone{
  font-size: 3rem;
  transition: all 0.3s;
}
.font-icone:hover{
  transform: scale(1.3);
}
.active{
  color:  #fff!important ;
}
.edit-icon{
  cursor: pointer !important;
  font-size: 2rem !important;
  transition: all 0.3s;
}
.edit-icon:hover{
  transform: scale(1.2);
}

.contenaire-projet{
  display: flex;
  justify-content: space-between;
}
.img-view{
  object-fit: cover;
  /* height: 10%!important; */
}
.font-dev-icon{
  font-size: 2.5rem;
  
}
.deleet-icon{
  font-size: 2.5rem;
  color: red;
  cursor: pointer;
  transition: all 0.3s;
}
.deleet-icon:hover{
  transform: scale(1.2);
}